<h1 style="text-align:center">My Todo's</h1>


<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<!-- <p-toast position="top-left"></p-toast> -->

<div class="container">
    <p-table [value]="todos" [scrollable]="true" scrollHeight="350px" [responsive]="true" [resizableColumns]="true">
        <ng-template pTemplate="caption">
            <div style="text-align: left">
            <button  (click)="createTodo()" class="btn btn-success">Add</button>
        </div>
            <!-- <div style="text-align: right">

                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div> -->
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Movie Name</th>
                <th>Description</th>
                <th>Release Date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-todo>
            <tr>
                <td>{{todo.movieName}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.releaseDate | date}}</td>
                <td><button (click)="updateTodo(todo.id)" class="btn btn-info">Update</button></td>
                <td><button (click)="deleteTodo(todo.id)" class="btn btn-danger">Delete</button></td>
            </tr>
        </ng-template>
    </p-table>
    <BR>

</div>